img{
    width: 70px !important;
    height: 50px !important;
}

p{
    font-size: 1em;
}

.actores{
    cursor: pointer;
    width: 240px;
}

.actores:hover{
    background-color: green !important;
    color: white !important;
    font-weight: bold;    
}