<div>
    <h3>Lista de Actores</h3>
    <div *ngIf="spinner; else lista" class="d-flex justify-content-around" [style]="anchoSpinner">
        <span class="fs-3 fw-bold" >Cargando...</span>
        <div class="spinner-border text-danger text-center" style="align-self: center; scale: 1.2;"></div>
    </div>
    <ng-template #lista>
        <div [style]="estilos">
        <div *ngFor="let actor of actores" style="width: 100%;">
            <div class="actores border bg-light text-dark p-0 m-1" style="height: 55px; border-radius: 10px; width: 95%;"
                (click)="actorSeleccionado(actor)">
                <div class="p-1">
                    <p class="p-0 m-0">{{actor.nombre}} {{actor.apellido}}
                    <p>
                        <small class="p-0 m-0"> {{actor.pais.translations.es}}</small>
                </div>
            </div>
        </div>
    </div>
</ng-template>
</div>